/*! Theme CSS */

/* ========================================================================
    Base
 ========================================================================== */
body {
  background: #fff url(../img/page-bg.png);
}

div.uk-container {
  padding: 0 100px;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.icon-blue {
  color: #4F87DD;
}

.icon-black {
  color: #000;
}

.icon-red {
  color: #F84E62;
}

.uk-icon-mini {
  font-size: 75%;
}

.uk-icon-semimedium {
  font-size: 150%;
  vertical-align: -15%;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #F84E62 !important;
}

.pointer {
  cursor: pointer;
}

.bg-red {
  background: #F84E62;
}

.bg-blue {
  background: #4F87DD;
}

.bg-gray {
  background: #8c8f98;
}

.no-border {
  border: none;
}

/* ========================================================================
    Ico Sprite
 ========================================================================== */

.ico-sprite {
  background: #fff url(../img/ico-sprite.png) no-repeat;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ico-box{ background-position: 0 0; width: 16px; height: 13px; }
.ico-calculator{ background-position: 0 -18px; width: 16px; height: 20px; }
.ico-clock{ background-position: 0 -43px; width: 19px; height: 22px; }
.ico-door{ background-position: 0 -99px; width: 15px; height: 13px; }

.ico-fist{
  background-position: 0 -117px; width: 31px; height: 31px;
  position: absolute;
  left: 93px;
  top: 8px;
  z-index: 5;
  border-radius: 50%;

}
.ico-non-smoking{ background-position: 0 -153px; width: 13px; height: 13px; }
.ico-passenger{ background-position: 0 -171px; width: 15px; height: 17px; }
.ico-pets{ background-position: 0 -193px; width: 14px; height: 13px; }
.ico-pointer{ background-position: 0 -211px; width: 22px; height: 20px; }
.ico-punct-a{ background-position: 0 -236px; width: 18px; height: 24px; }
.ico-punct-b{ background-position: 0 -265px; width: 18px; height: 24px; }
.ico-seats{ background-position: 0 -318px; width: 19px; height: 15px; }
.ico-smoking{ background-position: 0 -338px; width: 13px; height: 13px; }
.ico-bags{ background-position: 0 -356px; width: 16px; height: 13px; }
.ico-taxi{ background-position: 0 -374px; width: 27px; height: 27px; }
.ico-user{ background-position: 0 -406px; width: 27px; height: 27px; }

/* ========================================================================
    Header
 ========================================================================== */
header {
  background-color: #508BD0;
}

header .uk-navbar{
  background: #fff url(../img/header-bg.png) 0 0 no-repeat;
  height: 47px;
  border: none;
  border-radius: 0;
}

header .uk-navbar-brand {
  display: block;
}

header .uk-navbar-brand a{
  background: url(../img/logo.png) 0 0 no-repeat;
  display: inline-block;
  width: 107px;
  height: 44px;
  margin-left: 10px;
}

header div.uk-navbar-small {
  padding: 0;
  margin: 0;
}

.uk-navbar-nav > li.uk-active > a {
  background: none;
  border: none;
}

ul.uk-navbar-nav > li:hover > a, ul.uk-navbar-nav > li > a:focus, ul.uk-navbar-nav > li.uk-open > a {
  background: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

header .uk-navbar-nav .about {
  margin-left: 80px;
}

@media screen and (max-width: 1200px) {
  header .uk-navbar-nav .about {
    margin-left: 0;
  }
}

header .uk-navbar-nav > li > a {
  font-weight: 900;
  line-height: 48px;
  padding-right: 6px;
}

header .uk-navbar-nav li.about a:after, header .uk-navbar-nav li.help a:after{
  content: "|";
  color: #d2d2d2;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 100;
}

@media screen and (max-width: 1200px) {
  header .uk-navbar-nav li.about a:after, header .uk-navbar-nav li.help a:after{
    display: none;
  }
}

header ul.uk-navbar-nav .book {
  margin-left: 50px;
}

@media screen and (max-width: 1200px) {
  header ul.uk-navbar-nav .book {
    margin-left: 0;
  }
}


header ul.uk-navbar-nav .book  > a, header ul.uk-navbar-nav .store  > a {
  height: 100%;
}

header .uk-navbar-nav .book a {
  padding: 0 36px 0 29px;
}

header .uk-navbar-nav .store a {
  padding: 0 29px 0 36px;
}

header .uk-navbar-nav .user-menu{
  float: right;
}

header .uk-navbar-nav .user-menu a {
  padding-right: 20px;
  font-weight: 100;
  cursor: pointer;
}

.header-bottom{
  background: #898E97;
}

header .uk-breadcrumb a {
  text-decoration: underline;
}

header .uk-breadcrumb > li:nth-child(n+2):before {
    content: "–>";
}

header .uk-form select, header .uk-form select:focus {
  background: none;
  border: none;
  height: 18px;
  padding: 0;
 -moz-appearance: radio-container;
 -webkit-appearance: radio-container;
}
/*
header .uk-form select:after, header .uk-form select:focus:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  background: #000;
  color: white;
  pointer-events:none;
}*/

/* ========================================================================
    Main
 ========================================================================== */

.ride-block-middle {
  background: #fff;
}

.book-rite {
  background: #fff url(../img/book-rite.png) 0 0 no-repeat;
}

.ride-block-top .uk-panel {
  height: 35px;
  line-height: 43px;
}

@media screen and (max-width: 780px) and  (min-width: 527px){
  .ride-block-top .uk-panel {
    font-size: 10px;
    padding: 0;
  }
}

@media screen and (max-width: 526px){
  .ride-block-top .uk-panel {
    font-size: 6px;
    padding: 0;
  }
}

.ride-block-main .uk-panel {
  padding: 10px;
}


hr.bg-red {
  border: none;
  height: 1px;
}

.tabs ul {
  overflow: hidden;
  outline: 1px solid #F84E62;

}

.tabs .uk-width-1-3 {
  position: relative;
  padding-left: 0;
}

.tabs .uk-width-1-3 a {
  color: #000;
}

.tabs .uk-width-1-3.uk-active a {
  color: #fff;
}

.tabs .triangle span {
  background: #ff4d62;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: none;
}

.tabs .triangle span.text-red {
  background: #fff;
}

.tabs i.uk-icon-check-circle {
  display: inline-block;
}

.tabs .first-tab.uk-active span.text-red{
  display: inline-block;
}

.tabs .first-tab.uk-active i.uk-icon-check-circle {
  display: none;
}

.tabs .first-tab.uk-active + .second-tab i.uk-icon-check-circle {
  display: none;
}

.tabs .first-tab.uk-active + .second-tab span.text-white {
  display: inline-block;
}

.tabs .second-tab.uk-active i.uk-icon-check-circle, .tabs .second-tab.uk-active span.text-white  {
  display: none;
}

.tabs .second-tab.uk-active span.text-red {
  display: inline-block;
}

.tabs .third-tab span.text-white {
  display: inline-block;
}

.tabs .third-tab.uk-active span.text-red {
  display: inline-block;
}

.tabs .third-tab.uk-active span.text-white {
  display: none;
}

.tabs .triangle {
  height: 54px;
  line-height: 54px;
  background: #fff;
  text-align: center;
  position: relative;
  text-decoration: none;
  margin-right: 1px;
}

.tabs .triangle:after {
  content: "";
  border-bottom: 27px solid transparent;
  border-left: 20px solid #fff;
  border-top: 27px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
}

.tabs .triangle:before {
  content: "";
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 20px solid #F84E62;
  position: absolute;
  left: 0;
  top: 0;
}

.tabs .first-tab .triangle:before {
  display: none;
}

.tabs .third-tab .triangle:after {
  display: none;
}

.tabs .uk-active .triangle {
  background: #F84E62;
  color: #fff;
}

.tabs .uk-active .triangle:after {
  border-left-color: #F84E62;
}

@media screen and (max-width: 780px) and  (min-width: 527px){
  .tabs .triangle {
    font-size: 10px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .tabs .triangle:after, .tabs .triangle:before {
    display: none;
  }

  .tabs .triangle span {
    font-size: 100%;
    height: 15px;
    line-height: 15px;
    width: 15px;
  }

  .tabs .triangle i:before {
    font-size: 180%;
  }
}

@media screen and (max-width: 526px){
  .tabs .triangle{
    font-size: 6px;
    padding: 0;
    height: 15px;
    line-height: 15px;
    text-align: center;
  }

  .tabs .triangle:after, .tabs .triangle:before {
    display: none;
  }

  .tabs .triangle span {
    font-size: 100%;
    height: 10px;
    line-height: 10px;
    width: 10px;
  }

  .tabs .triangle i:before {
    font-size: 200%;
  }
}

.ride-block-main .uk-form {
  margin-top: 20px;
}

.take-best {
  background: #508cd1;
}

.take-best a {
  color: #fff;
}

.first-tab-content .uk-form .uk-form-width-medium, .first-tab-content .uk-form .uk-form-width-medium:focus{
  width: 60%;
  background: #fff url(../img/ico-sprite.png) no-repeat;
  background-position: 278px -68px;
  vertical-align: middle;
}

.ride-block-map .map-frame {
  position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}

.ride-block-map .map-frame iframe {
  border: 1px solid #8f8f9b;
  width: 470px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* ========================================================================
    Table
 ========================================================================== */

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #aabcfe;
}

.tg tr {
  background-color: #e8edff;
}

.tg td {
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #aabcfe;
}

.tg th {
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #aabcfe;
  background-color: #b9c9fe;
}

.tg .tg-srf5 {
  font-weight: bold;
  background-color: #528ed3;
  color: #ffffff;
  text-align: center;
}

.tg .tg-dntg {
  text-align: center;
}

.tg .tg-7v46 {
  font-weight: bold;
  color: #528ed3;
  text-align: center;
}

.tg .tg-lltv {
  font-weight: bold;
  color: #3c3d45;
  text-align: center;
}

.tg td>span {
  background-color: #4F87DD;
  color: #fff;
  display: inline-block;
  width: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tg .table-select td{
  overflow: visible;
}

.tg .table-select td input {
  min-height: 30px;
}

.tg .table-select td input, .tg .table-select td button, .tg .table-select td .uk-dropdown {
  font-size: 12px;
}

.tg td .uk-button.uk-button-success {
  background: #26BC30;
}

/*@media screen and (max-width: 920px) {
  table.tg * {
    font-size: 9px !important;
  }
}*/

.tg td .datepicker-select, .tg td .datepicker-select:focus {
  background: #fff url(../img/ico-sprite.png) no-repeat;
  background-position: 107px -291px;
  padding-left: 6px;
  border-radius: 4px;
  border: 1px solid #969898;
}

.tg td .route-select, .tg td .route-select:focus {
  background: #fff url(../img/ico-sprite.png) no-repeat;
  background-position: 170px -68px;
  border-radius: 4px;
  border: 1px solid #969898;
  padding-left: 6px;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Tip"; }
  td:nth-of-type(2):before { content: "Date/time"; }
  td:nth-of-type(3):before { content: "Route"; }
  td:nth-of-type(4):before { content: "Trust"; }
  td:nth-of-type(5):before { content: "PM"; }
  td:nth-of-type(6):before { content: "Price"; }
  td:nth-of-type(7):before { content: "Status"; }
  td:nth-of-type(8):before { content: "Buy"; }
}

/* ========================================================================
    Footer
 ========================================================================== */

footer {
  background: #fff url(../img/footer-bg.png) repeat-x;
}

footer .footer-bg {
  background: #fff url(../img/footer-nav-bg.png) 0 0 no-repeat;
}

footer .uk-navbar{
  background: none;
  border: none;
}

footer .uk-navbar-nav li a {
  padding: 0 0 0 20px;
  line-height: 50px;
}

footer .uk-navbar-nav li a:after {
  content: "|";
  color: #828282;
  margin-left: 20px;
  font-size: 24px;
}

@media screen and (max-width: 920px) {
  footer ul.uk-navbar-nav li a:after {
    display: none;
  }
}

footer .uk-navbar-nav li:last-child a:after {
  content: "";
}

footer .footer-social {
  height: 49px;
  line-height: 49px;
  overflow: hidden;
}

footer .footer-social .uk-icon-twitter-square {
  color: #61c7f8;
}
footer .footer-social .uk-icon-facebook-square {
  color: #577acb;
}
footer .footer-social .uk-icon-google-plus-square {
  color: #5b5b5b;
}
footer .footer-social .uk-icon-linkedin-square {
  color: #2968af;
}


