/*! Theme CSS */

/* ========================================================================
    Base
 ========================================================================== */
body {
  background: #fff url(../img/page-bg.png);
}

a:hover {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.icon-blue {
  color: #4F87DD;
}

.icon-black {
  color: #000;
}

.icon-red {
  color: #F84E62;
}

.uk-icon-mini {
  font-size: 75%;
}

.uk-icon-semimedium {
  font-size: 150%;
  vertical-align: -15%;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #F84E62;
}

.pointer {
  cursor: pointer;
}

.bg-red {
  background: #F84E62;
}

.bg-blue {
  background: #4F87DD;
}

.no-border {
  border: none;
}
/* ========================================================================
    Header
 ========================================================================== */
header {
  background-color: #508BD0;
}

header .uk-navbar{
  background: url(../img/header-bg.png) 0 0 no-repeat;
  border: none;
  border-radius: 0;

}

.uk-navbar-nav > li.uk-active > a {
  background: none;
  border: none;
}

.header-bottom{
  background: #898E97;
}

div.uk-container {
  padding: 0 100px;
}

/* ========================================================================
    Main
 ========================================================================== */

.ride-block-middle {
  background: #fff;
}

.book-rite {
  background: #fff url(../img/book-rite.png) 0 0 no-repeat;
  color: red;
  /*Тимчасово червоний!!!*/
}

hr.bg-red {
  border: none;
  height: 1px;
}

.tabs ul {
  overflow: hidden;
}

.tabs .uk-width-1-3 {
  position: relative;
  padding-left: 0;
}

.tabs .uk-width-1-3 a {
  color: #000;
}

.tabs .uk-width-1-3.uk-active {
  background: #f84d61;
}

.tabs .uk-width-1-3.uk-active a {
  color: #fff;
}

.tabs .triangle span {
  background: #F84E62;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  display: inline-block;
}

.tabs .uk-width-1-3.uk-active span{
  background: #fff;
  color: #F84E62;
}


.tabs .triangle{
  background: none;
  height: 52px;
  line-height: 52px;
  overflow: hidden;
  border-top: 1px solid #f84d61;
  border-bottom: 1px solid #f84d61;
  border-left: none;
  border-right: none;
}

/*.tabs .triangle:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right:-20px;
  width: 38px;
  height: 38px;
  background: #fff;
  border-right:1px solid #f84d61;
  border-bottom:1px solid #f84d61;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.tabs .uk-active .triangle:after {
  content:'';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-style: solid;
  border-width: 26px 0 26px 20px;
  border-color: transparent transparent transparent #f84d61;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #f84d61;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

    background: #f84d61;
}


.tabs .second-tab.uk-active .triangle:before {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  display: block;
  height: 35px;
  left: -18px;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 35px;
}

.tabs .uk-width-1-3:first-child .triangle:after {
  border-width: 0;
}*/


.take-best {
  background: #508cd1;
}

.take-best a {
  color: #fff;
}

/* ========================================================================
    Table
 ========================================================================== */

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-srf5{font-weight:bold;background-color:#528ed3;color:#ffffff;text-align:center}
.tg .tg-dntg{color:#3c3d45;text-align:center}
.tg .tg-7v46{font-weight:bold;color:#528ed3;text-align:center}
.tg .tg-lltv{font-weight:bold;color:#3c3d45;text-align:center}

.tg td>span {
  background-color: #4F87DD;
  color: #fff;
  display: inline-block;
  width: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tg .table-select td{
  overflow: visible;
}

.tg .table-select td input {
  min-height: 30px;
}

.tg .table-select td input, .tg .table-select td button, .tg .table-select td .uk-dropdown {
  font-size: 12px;
}

.tg td .uk-button.uk-button-success {
  background: #26BC30;
}
/* ========================================================================
    Footer
 ========================================================================== */

footer {
  background-color: #508BD0;
}

footer nav{
  background: #fff url(../img/footer-bg.png) 0 0 no-repeat;
}
